body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.focused-area{
    display: flex;
}
.header-area{
    font-size: 50px;
    padding-left: 10px;
    border-left: 3px solid tomato;
}

section{
    display: block;
    margin-bottom: 150px;
    height: 350px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 1%;
    padding-left: 4%;

}
div{
    display: block;
}
#header area{
    margin-top: 50px;
}
.half-width img{
    width: 50%;
    padding-top: 20px;
    padding-right: 2%;
    padding-left: 5%;
    padding-bottom: 10px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#ff5959,#ff5959);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.header-area{
    border-left: 3px solid tomato;
    padding-left: 5%;
}
.mission-area{
    width: 100%;
    height: 200px;
}
.mission-area h1{
    text-align: center;
}
.mission-area img{
    width: 20%;
    padding-left: 5px;
    padding-top: 40px;
}
h3{
    padding-bottom: 40px;
    padding-left: 5px;
    margin: 0px;
}
p{
    margin: 0px;
    padding-bottom: 50px;
    padding-top: 10px;
}
.about-mission{
    display: flex;
    margin: 0px;
    width: 90%;
    height: 200%;
    padding: 1px 10px 20px 10px;
    margin: 50px 50px 40px;
}
#love-area{
    background-color: #edf5f6;
    border-radius: 30px;
}
#happy-area{
    background-color: #ffeeee;
    border-radius: 30px;
}
#sad-area{
    background-color: #fff4d6;
    border-radius: 30px;
}
.develop-area{
    background-image: url(images/shapes/develop.png);
    background-repeat: no-repeat;
    background-position: 2% 83%;;
    padding-top: 240px;
    background-size: 80px 240px;
}
.sec-4{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    height: 500px;
    width: 80%;
}
#bg-img{
    padding-left: 200px;
    width: 70%;
    background-image: url(images/shapes/know.png);
    background-position: right 15% bottom 25%;
    background-size: 200px;
    background-repeat: no-repeat;
}
.update-area{
    padding-bottom: 10%;
}
.footer-area{
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    padding-top: 30px;
    height: 200px;
}

